
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    body {
      font-family: 'Roboto', Arial, sans-serif;
       
        background: linear-gradient(to bottom, #d1c4e9, #ffffff);
      padding: 20px;
      text-align: center; 
      
    }

    
    h1, h3, h4 {
      font-weight: bold;
      margin-bottom: 10px;
    }

    
    h3{
      margin-top: 40px;
    }
    ol{
      margin-top: 10px;
    }
    p, li {
      font-size: 16px;
      margin: 8px 0;
    }

    
    img {
      width: 200px;
      border-radius: 15px;
      box-shadow: 0 4px 6px rgba(0,0,0,0.2);
      display: block;
      margin: 0 auto 10px auto;
      margin-left: 0;
    }

    
    a {
      color: #7b68ee;
      text-decoration: none;
      font-weight: bold;
    }
    a:hover {
      text-decoration: underline;
      color: #5a4ecb;
    }

    
    button {
      background-color: #7b68ee;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;
    }
    button:hover {
      background-color: #5a4ecb;
    }

    
    table {
      border-collapse: collapse;
      margin: 20px auto;
      width: 90%;
      max-width: 600px;
      background-color: white;
    }
    th, td {
      border: 1px solid #999;
      padding: 10px;
      font-size: 14px;
    }
    th {
      background-color: #7b68ee;
      color: white;
    }

    
    form {
      background: #e0d7ff;
      padding: 15px;
      max-width: 400px;
      margin: 20px auto;
      border-radius: 10px;
      text-align: left;
    }

    
    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      color: #4a3fbd;
    }
    input, textarea {
        width: 95%;              
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 14px;
        font-family: inherit;
        display: block;
        margin-left: auto;
        margin-right: auto;      
}

    
    footer {
      margin-top: 30px;
      background-color: #7b68ee;
      color: white;
      padding: 10px 0;
      font-weight: bold;
      text-align: center;
    }
  